html {
  font-family: sans-serif;
  background: #343434;
  color: rgba(116, 183, 246, 0.92);
}
body {
  max-width: 80em;
}
table {
  border-spacing: 0.5em;
}
.chess-icon {
  font-size: 2em;
}
td {
  background: rgba(218, 214, 191, 0.1);
  padding: 1em;
  border-radius: 5px;
}
.endpoint {
  background: #545444;
  color: rgba(108, 178, 252, 0.73);
  text-decoration: none;
  font-weight: 600;
  padding: 0 1em;
  text-align: left;
  cursor: pointer;
}
.endpoint:hover {
  background: #a3a08f;
  color: rgb(236, 236, 236);
}
.method {
font-size:smaller;
padding-bottom:.5em;
  color: #7076bf;
}
.description {
  font-weight: 800;
  display: block;
  padding: 0 0 0.25em 0;
}
label {
  color: #694d01;
}
input,
textarea {
  display: block;
  width: 90%;
  max-width: 70em;
  margin: 0.5em 0 0 0;
  padding: 0.25em;
}
textarea {
  background: rgba(18, 44, 108, 0.4);
  color: #c9aa59;
  height: 20em;
  padding: 1em;
}
.input {
  margin: 1em 0;
}
.box {
  border-radius: 5px;
  background: rgba(21, 58, 138, 0.5);
  padding: 0.5em 2em 2em;
  margin: 1em;
}
button {
  background-color: #786907;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 4px 8px;
  margin-left: -4px;
  margin-right: 8px;
}
button:hover {
  opacity: 0.8;
}
button:active {
  background-color: #373003;
}
#response {
  color: #c9aa59;
}
code {
  background-color: rgba(232, 224, 203, 0.29);
  border-radius: 5px;
  padding: 0.05em;
}
input {
  background: rgba(18, 44, 108, 0.4);
  color: #c9aa59;
}

